* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --backgroundColor: #f74c5b;
  --textColor: white;
  --textColor_1: black;
  --orange: #fb9b43;
}

.header-image {
    max-width: 100%;
    height: auto;
    display:block;
  }

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar/Header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  
}

.header{
  background-color: var(--backgroundColor);
  position: sticky;
  top: 0;
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
  background-color: #fb9b43;
  padding: 5px 10px 5px 10px; /*top right botton left*/
  border: solid;
  border-color: white;
  border-radius: 20px;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 800;
  color: white
}

.nav-item:hover{
  background-color: #f74c5b;
  box-shadow: 1px 2px 5px;
}

.shopping-cart img {
  max-width: 50px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #f55866;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }


}

/* Carousel */

.slideshow-container {
  max-width: 100%;
  margin: auto;
}

.Containers {
  display: none;
  box-sizing: border-box;
}

.Containers img {
  width: 100%;
}

.dots {
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #00CC99;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/* Homepage */

.quick-links{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.caption {
  display: flex;
  align-items: center;
  gap: 10px; /* fix this in media@*/
}

.caption h1{
  color: black;
  font-weight: 400;
}

.link-img img{
  max-width: 100px;
}

.small-about {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
  margin-bottom: 0;
}

.help-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
}

.description-box {
  font-size: 15px;
  color: black;
  font-weight: 400;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 30px;
  margin-right:20px;
  border: solid;
  border-color: #3bba9a;
  border-width: 8px;
  border-radius: 40px;
}

.small-about img{
  max-width: 500px;
}

.button{
  font-weight: 600;
  background-color: #f74c5b;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #3bba9a;
}

/* About */

.about-bini {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.about-bini img{
  max-width: 200px;
}

.about-bini h1 {
  color: #fb9b43;
  font-size: 50px;
}

.about-bini p {
  font-size: 20px;
  font-weight: 400;
}

.services-label{
  align-items: center;
  display:flex;
  gap: 10px;
}

.line {
  height: 10px;
  width: 600px;
  background-color: #3bba9a;
  border-radius: 10px;
}
.services{
  margin-top: 20px;
}

.services h1 {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 40px;
  color:white;
  background-color: #fb9b43;
  border: solid;
  border-color: #fb9b43;
  border-radius: 50px;
}

.grid-container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-item {
  width: 350px;
  height: 200px;
  margin: 30px;
  display: inline-block;
  background: #00CC99;
  box-shadow: 3px 2px #fb9b43;
  border-radius: 50px;
  border: solid;
  border-color: white;
}

.grid-item:hover {
  width: 365px;
  height: 210px;
  transition-duration: 0.2s;
}

.grid-item img {
  margin-top: 30px;
}

.desc-grid {
  font-size: 25px;
  margin: 10px;
  color: white;
}



/* Help */

.help-title,
.step {
  margin-left: 150px;
}

.first-time-users {
  margin-top: 50px;
  display: flex;
}

.first-time-users img {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  max-width: 450px;
  max-height: 450px;
}

.help-title {
  text-align: center;
  justify-content: center;
}

.help-title h1 {
  font-size: 40px;
  color: #f74c5b;
}

.ul {
  border: 2px solid #f74c5b;
  height: 3px;
  width: 500px;
  margin-bottom: 40px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: #fb9b43;
  border-radius: 100px;
  gap: 50px;
}

.step h {
  font-size: 100px;
  color: #3bba9a
}

.vl {
  border-left: 3px solid #3bba9a;
  height: 50px;
  margin-left: 400px;
}

/* Footer */

.rectangle1 {
  height: 30px;
  max-width: 100%;
  background-color: #fb9b43;
  transform: translateY(350%);
  border-style: solid;
  border-color: white;
}

.rectangle {
  height: 30px;
  max-width: 100%;
  background-color: var(--backgroundColor);
  transform: translateY(350%);
  border-style: solid;
  border-color: white;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0px 10px 0px;
  background-color: white;
  margin-top: 100px;
}

.footer-logo img {
  max-width: 80px;
}

.footer-title h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.l-footer {
  line-height: 2em;
  flex: 1 0px;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.socials img {
  margin: 0px 5px 0px 5px;
  max-width: 25px;
}

.socials img:hover {
  filter: brightness(500%);
  transition: all 0.4s ease;
}

.r-footer {
  flex: 3 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 110%;
  font-weight: 400;
  color: var(--headerColor);
  display: flex;
  flex-flow: row wrap;
  line-height: 2em;
  list-style: none;
  padding-left: 0;
}

.r-footer > * {
  flex: 1;
}

.box a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.box a:hover {
  color: var(--backgroundColor);
  transition: all 0.4s ease;
}

.footer-rights {
  font-size: 90%;
  margin-right: 1.25em;
  flex: 5 0px;
}

@media screen and (max-width: 880px) {
  .footer {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .l-footer {
      display: flex;
      text-align: center;
      flex-direction: column;
  }

  .box {
      overflow-wrap: normal;
      justify-content: center;
      display: flex;
      flex-flow: row;
  }

  #home-link,
  #about-link,
  #products-link,
  #help-link {
      padding: 0px 5px 0px 5px;
  }

  .r-footer {
      line-height: 1.5em;
      display: flex;
      text-align: center;
      flex-direction: column;
  }

  .socials img {
      padding-bottom: 1em;
  }
}